<a href="https://colab.research.google.com/github/abhishekbhat11/DSML/blob/main/mrs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
from fuzzywuzzy import process

/usr/local/lib/python3.7/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [1]:
pip install fuzzywuzzy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

In [3]:
movies='movies.csv'
ratings='ratings.csv'

df_movies=pd.read_csv(movies, usecols=['movieId','title','genres'], dtype={'movieId':'int32','title':'str'})
df_ratings=pd.read_csv(ratings, usecols=['userId','movieId','rating'],dtype={'userId':'int32','movieId':'int32','rating':'float32'})

In [4]:
df_movies.dropna()
df_ratings.dropna()

        userId  movieId  rating
0            1        1     4.0
1            5        1     4.0
2            7        1     4.5
3           15        1     2.5
4           17        1     4.5
...        ...      ...     ...
100831     184   193581     4.0
100832     184   193583     3.5
100833     184   193585     3.5
100834     184   193587     3.5
100835     331   193609     4.0

[100836 rows x 3 columns]

In [5]:


movies_users=df_ratings.pivot(index='movieId', columns='userId',values='rating').fillna(0)
mat_movies_users=csr_matrix(movies_users.values)

In [6]:

model_knn= NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20)

In [7]:
model_knn.fit(mat_movies_users)

NearestNeighbors(algorithm='brute', metric='cosine', n_neighbors=20)

In [16]:


def r(movie_name, data,model, n_recommendations ):
    model.fit(data)
    idx=process.extractOne(movie_name, df_movies['title'])[2]
    print('Movie Selected: ',df_movies['title'][idx], 'Index: ',idx)
    print("Searching...")
    distances, indices=model.kneighbors(data[idx], n_neighbors=n_recommendations)
    for i in indices:
        a=df_movies['title'][i].where(i!=idx)
        b=df_movies['genres'][i].where(i!=idx)
        print(a,b,sep=" ")
r('Casino', mat_movies_users, model_knn,20)

Movie Selected:  Casino (1995) Index:  15
Searching...
15                                            NaN
913                         Third Man, The (1949)
5                                     Heat (1995)
3162       Crocodile Dundee in Los Angeles (2001)
486                           True Romance (1993)
1123                              Rosewood (1997)
375                          Carlito's Way (1993)
827                          Dirty Dancing (1987)
46                     Usual Suspects, The (1995)
922                Godfather: Part II, The (1974)
257                           Pulp Fiction (1994)
1297                             Mr. Magoo (1997)
43                    Seven (a.k.a. Se7en) (1995)
31      Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
190                                 Clerks (1994)
908                  To Kill a Mockingbird (1962)
2637                  Prince of Tides, The (1991)
520                                  Fargo (1996)
1294                  Horse Whisperer, The (1998)
613                          Trainspotting (1996)
Name: title, dtype: object 15                              NaN
913      Film-Noir|Mystery|Thriller
5             Action|Crime|Thriller
3162                   Comedy|Drama
486                  Crime|Thriller
1123                   Action|Drama
375                     Crime|Drama
827           Drama|Musical|Romance
46           Crime|Mystery|Thriller
922                     Crime|Drama
257     Comedy|Crime|Drama|Thriller
1297                         Comedy
43                 Mystery|Thriller
31          Mystery|Sci-Fi|Thriller
190                          Comedy
908                           Drama
2637                  Drama|Romance
520     Comedy|Crime|Drama|Thriller
1294                  Drama|Romance
613              Comedy|Crime|Drama
Name: genres, dtype: object